Repository KhronosGroup/Vulkan-Docs, pull requests merged in 2024-10, with the labels that each got.

#2442 Update VK_AMDX_shader_enqueue to v2
  appendices/VK_AMDX_shader_enqueue.adoc
  appendices/spirvenv.adoc
  chapters/commonvalidity/dispatch_graph_common.adoc
  chapters/executiongraphs.adoc
  chapters/features.adoc
  chapters/limits.adoc
  chapters/pipelines.adoc
  proposals/VK_AMDX_shader_enqueue.adoc
  xml/vk.xml
Labels: Extension

#2402 Add location order to the definition of from-reads
  appendices/memorymodel.adoc
Labels: Memory Model TSG

#2453 Add docs.vulkan.org page information to validusage.json
  Makefile
  antora/Makefile
  scripts/add_validusage_pages.py
  scripts/antora-prep.py
Labels: Ecosystem (Ref Pages)
